<div class="wrapper" #wrapper (mousemove)="onmouseMove()">
  <video id="vi" crossorigin="crossorigin">
    Your browser does not support the video tag.
  </video>
  <ng-container *ngIf="!showQuestion && showPlayerControls">
    <span [@fade]>
      <fa-icon class="back" (click)="backIt.emit()" [icon]="faBack">
      </fa-icon>
      <fa-icon *ngIf="!paused" class="pause" (click)="pause()" [icon]="faPause">
      </fa-icon>
      <fa-icon *ngIf="paused" class="play" (click)="play()" [icon]="faPlay">
      </fa-icon>
      <fa-icon *ngIf="!fullScreened" class="expand" (click)="fullscreen()" [icon]="faExpand">
      </fa-icon>
      <fa-icon *ngIf="fullScreened" class="compress" (click)="fullscreen()" [icon]="faCompress">
      </fa-icon>
    </span>
  </ng-container>
  <div class="question-answer" *ngIf="showQuestion">
    <div class="question">
      <!--      <h1>{{node?.question}}</h1>-->
    </div>
    <div class="answers">
      <ng-container *ngIf="node?.answers">
        <ng-container *ngFor="let answer of node?.answers">
          <button type="button" (click)="processAnswer(answer.id)"
                  [ngClass]="{'selected': answer.id == answerId}">{{answer.text}}</button>
        </ng-container>
      </ng-container>
      <span class="timer">{{countDown}}</span>
    </div>
  </div>
</div>
