<p-organizationChart [value]="treeData" selectionMode="single">
  <ng-template let-node pTemplate="video">
    <div class="node">
      <p *ngIf="node.data?.answer">
        <i class="pi pi-arrow-circle-up"></i>
        პასუხი: {{node.data?.answer}}
      </p>
      <br>
      <video [src]="jwPlayerSource(node)" controls crossorigin="crossorigin">
        Your browser does not support the video tag.
      </video>
      <br>
      <span *ngIf="node.data?.question">
        შეკითხვა: {{node.data?.question}}
        <i class="pi pi-arrow-circle-down"></i>
      </span>
    </div>
  </ng-template>

  <ng-template let-node pTemplate="root">
    <div class="root">
      <span>პირველი გვერდი</span>
      <app-list-item [item]="node.data" [hideButton]="true"></app-list-item>
    </div>
  </ng-template>
</p-organizationChart>
