div {
  margin: 5% 0 0 1%;
  width: 32%;
  min-width: 420px;

  img {
    width: 100%;
    min-height: 300px;
  }

  div.title {
    margin-top: 10px;

    span {
      font-size: 25px;
    }
  }

  button {
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1280px) {
  button {
    display: none;
  }
}
