.wrapper {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  > div {
    width: 30%;
    max-width: 480px;

    img {
      width: 100%;
    }

    div.title {
      margin-top: 10px;
      span {
        font-size: 25px;
      }
    }

    button {
      margin-top: 10px;
      width: 100%;
      font-size: 20px;
    }
  }
}
